.dark-fade {
   background-image: $gr-darkfade;
}
.cool-gray {
	background-image: $gr-cool-grey;
}
.blue-night {
	background-image: $gr-blue-night;
}
.slate-gray {
	background-image: $gr-slate-gray;
}
.metallic-fade {
	background-image: $gr-metallic-fade;
}
.sunset-purple {
	background-image: $gr-sunset-purple;
}
.morpheus {
	background-image: $gr-morpheus;
}