@use '../toolkit/accoutrement/sass/tools';

$map: (
  'root': 18px,
  // internal reference & adjustments
  'gutter': '#root'
    (
      scale: '_golden' 1,
      'convert-units': 'rem',
    ),
);

$ratios: (
  'my-ratio': 1.618,
);

$sizes: (
  // define explicit values
  'root': 18px,
  'icons': 1em,
  'page': 80rem,

  // reference existing sizes
  'text': '#root',

  // apply adjustments and conversions
  // using named-ratios or arbitrary functions
  'rhythm': '#root' ( scale: '_golden' 1, 'convert-units': 'rem'),

  'h1': '#root' ( scale: 'my-ratio' 5 ),
  'h2': '#root' ( scale: 'my-ratio' 4 ),
  'h3': '#root' ( scale: 'my-ratio' 3 ),
  'h4': '#root' ( scale: 'my-ratio' 2 ),
  'h5': '#root' ( scale: 'my-ratio' 1 ),

  // define calc() output based on existing sizes
  'viewport-relative': 'calc(%s + %s)' ('%s': '#root' 2vw),
);

.test {
   width: size('page', 'rem');
}

$colors: (
  'brand': rgb(13, 127, 165),
  'accent': '#brand',
  'text': '#111111',
);
html {
   @include tools.custom-props($colors, 'colors-');
}