html {
   font-size: $text-root__size;
   line-height: $text-root__line;
   width: 100%;
   height: 100%;
   overflow-x: hidden;
   -webkit-tap-highlight-color: transparent;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

body {
   color: $text-color;
   font-size: 1rem;
   font-family: $kanit;
   background-color: $body-bg;
   text-rendering: optimizeLegibility;
   -webkit-text-size-adjust: 100%;
   font-feature-settings: "kern" 1;
   font-kerning: normal;
}

a {
   color: $link-color;
   text-decoration: none;
   transition: all 420ms ease;
   &:hover {
      color: $link-hover__color;
   }
}