.header {
   @include row();
   padding: calc($spacing-unit * 2) 0;
   margin: 0;
   background-color: $header-bg__color;
   &__title {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      > svg {
         @include sizer(160px);
         margin: auto;
      }
   }
   &__menu {
      display: flex;
      align-items: center;
      justify-content: center;
      > nav {
         > a {
            font-size: $nav-a__size;
            color: $nav-a__color;
            display: inline-flex;
            padding: $nav-a__py $nav-a__px;
         }
      }
   }
   &__search {
      display: flex;
      align-items: center;
      justify-content: flex-end;
   }
}

.logo {
   width: 160px;
}