.header {
   display: flex;
   align-items: flex-end;
   padding: $spacing-unit*$pi 0 $spacing-unit*$phi;
   margin: 0;
   //height: 333px;
   background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1NiIgaGVpZ2h0PSIxMDAiPgo8cmVjdCB3aWR0aD0iNTYiIGhlaWdodD0iMTAwIiBmaWxsPSIjMTgxQjIwIj48L3JlY3Q+CjxwYXRoIGQ9Ik0yOCAwTDI4IDM0TDAgNTBMMCA4NEwyOCAxMDBMNTYgODRMNTYgNTBMMjggMzQiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzcyN0M4QiIgc3Ryb2tlLXdpZHRoPSIxIj48L3BhdGg+CjxwYXRoIGQ9Ik0yOCA2NkwwIDUwTDAgMTZMMjggMEw1NiAxNkw1NiA1MEwyOCA2NkwyOCAxMDAiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI0MwQ0ZERiIgc3Ryb2tlLXdpZHRoPSIyIj48L3BhdGg+Cjwvc3ZnPg==");
   background-color: $header-bg__color;
   &__title {
      display: flex;
      align-items: center;
      justify-content: center;
      > svg {
         @include sizer(140px);
         margin: auto;
      }
   }
   &__menu {
      display: flex;
      align-items: center;
      justify-content: center;
      > nav {
         > a {
            font-size: $nav-a__size;
            color: $nav-a__color;
            display: inline-flex;
            padding: $nav-a__py $nav-a__px;
            text-decoration: none;
            transition: all 300ms ease-in;
            &:hover {
               color: lighten($nav-a__color, 20%);
            }
         }
      }
   }
   &__search {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      input[type="text"] {
         width: 80%;
         padding: 0.33rem 0.66rem;
         font-size: var(--font-size-0);
         outline: 0;
         background: rgba(ocGray(1), 0.4);
         border: 1px solid _slate(9);
      }
   }
}

.logo {
   width: 160px;
}