.hero {
   display: flex;
   align-items: center;
   padding: calc($spacing-unit * 3.33) 0;
   background: ocGray(8);
   &__wrapper {
      flex-wrap: wrap;
      align-items: center;
   }
   &__content {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
   }
   &__image {
      position: relative;
      z-index: 2;
      max-height: 600px;
      overflow: hidden;
      > img {
         position: absolute;
         top: calc(50% - var(--ty));
         left: 50%;
         width: auto;
         height: calc(100% + 200px);
         transform: translate(-50%, -50%);
         object-fit: cover;
         display: block;
      }
   }
}