h1, h2, h3, h4, h5 {
	font-family: $advent;
	font-weight: 400;
	line-height: 1;
	margin: $spacing-unit 0 1.38rem;
	color: _slate(8);
}

h1 {
	margin-top: 0;
	font-size: clamp(6.854rem, 11.089vw, 11.089rem);
}

h2 {
	font-size: clamp(4.236rem, 6.854vw, 6.854rem);
}

h3 {
	font-size: clamp(2.618rem, 4.236vw, 4.236rem);
}

h4 {
	font-size: clamp(1.618rem, 2.618vw, 2.618rem);
}

h5 {
	font-size: clamp(1.314rem, 1.618vw, 1.618rem);
}

small, 
.text_small {
	font-size: 0.618rem;
}