h1, h2, h3, h4, h5 {
	font-family: $advent;
	font-weight: 500;
	line-height: 1;
	//margin: $spacing-unit 0 1.38rem;
	margin-top: clamp(#{$phi}rem, 3.14vw, #{$pi}rem);
	margin-bottom: clamp(0.618rem, 1.618vw, 1.618rem);
	color: var(--heading-color);
	transition: all 200ms ease;
	@include only(first) {
		margin-top: 0;
	}
}

h1 {
	margin-top: 0;
	font-size: $h1-size;
}

h2 {
	font-size: $h2-size;
}

h3 {
	font-size: $h3-size;
}

h4 {
	font-size: $h4-size;
}

h5 {
	font-size: $h5-size;
}

small, 
.text-small {
	font-size: 0.618rem;
	line-height: 1.5;
	letter-spacing: 0.0618rem;
}